@import 'bootstrap/dist/css/bootstrap';

html, body {
  height: 100%;
}

.navbar {
  background-color: #000;
  
  .navbar-toggler {
    border-color: #fff;
  }
}

.footer {
  background-color: #3C3E47;
}